<h3>...with a name .com that hipsters love!</h3>


<table>
  <tr>
	<td class="header"><h1>All the World's Articles</h1></td>
	<td class="header"><%= link_to image_tag("add.png", :title => 'Create New Article') + 'Create an article', new_world_article_path %></td>
  </tr>
</table>
<table>
  <tr>
    <th class="list_title">Title</th>
    <th class="list_author">Author</th>
    <th class="list_body">Body</th>
    <th class="list_creation_date">Creation Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% article_inc=0 %>
<% @world_articles.each do |world_article| %>
  <tr class="<%= cycle('list_line_even','list_line_odd') %>">
    <td class="list_title"><%= world_article.title %></td>
    <td class="list_author"><%= world_article.author %></td>
    <td class="list_body">
		<% if world_article.body.size > 50 %>
			<%= world_article.body[0..50] + '...'%>
		<% else %>
			<%= world_article.body %>
		<% end %>
	</td>
	<td class="list_creation_date"><%= world_article.created_at.strftime("%a, %b. %d %Y") %></td>
    <td><%= link_to image_tag("magnifier.png", :title => 'View'), world_article %></td>
    <td><%= link_to image_tag("page_edit.png", :title => 'Edit'), edit_world_article_path(world_article) %></td>
    <td><%= link_to image_tag("bin_empty.png", :title => 'Delete'), world_article, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% article_inc = article_inc + 1 %>
<% end %>
</table>
<% if article_inc == 1 %>
	<%= raw article_inc %> Article
<% else %>
	<%= raw article_inc %> Articles
<% end %>

<br />

<%= link_to 'New World article', new_world_article_path %>
