<h3>... what's "articl" in Spanish anyway?</h3>
<p id="notice"><%= notice %></p>
<table>
<tr>
<td><%= link_to image_tag("arrow_left.png", :title => "List all articles") + "List all articles", world_articles_path %></td>
<td><%= link_to image_tag("page_edit.png", :title => 'Edit'), edit_world_article_path(@world_article) %></td>
<td><%= link_to image_tag("bin_empty.png", :title => 'Delete'), @orld_article, confirm: 'Are you sure?', method: :delete %></td>
<td><%= link_to image_tag("magnifier.png", :title => 'Email'), @world_article %></td><!-- Need to get a email picture and figure out the functionality -->
</tr>
</table>

<p>
  <b>
  <%= @world_article.title %>
  </b>
</p>

<p>
  by <%= @world_article.author %>, # edits since <%= @world_article.created_at.strftime("%b. %d %Y") %>
</p>

<p>
  <%= @world_article.body %>
</p>


